{
  "presets": [
    ["env", {
      "targets": {
        "node": 6
      },
      "include": [
        "transform-es2015-parameters",
        "transform-es2015-destructuring"
      ]
    }]
  ],
  "plugins": ["transform-object-rest-spread"]
}